{% extends "layout.html" %}
{% block content %}
    <h1>Interview</h1>
        <p id="count"></p>
        <div id="container" class="container">
            <div id="local" class="participant"><div></div><div>{{current_user.username}}</div></div>
            <!-- more participants will be added dynamically here -->
        </div>
        <script src="//media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}