{% extends "layout.html" %}
{% block content %}
<section class="jumbotron text-center">
<br>
  <div class="row">
    {% for job in jobs %}
    <div class="col-lg-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Industry: {{job.industry}}</strong>
          <h3 class="mb-0">{{job.title}}</h3>
          <div class="mb-1 text-muted">Date: {{job.date_posted}}</div>
          <p class="card-text mb-auto">{{job.description}}</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          {% if current_user.usertype == 'Company' %}
          <a href="/show_applications/{{job.id}}"  class="btn btn-primary mb-2" role="button" aria-disabled="true">Applications</a>
          {% else %}
          <a href="/post_cvs/{{job.id}}"  class="btn btn-primary mb-2" role="button" aria-disabled="true">Apply</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
  {% endblock %}